<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		<div id="ctx">
			<ptree :list="perms"></ptree>
		</div>
		<script src="../../js/jquery-1.12.4.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/login.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/vue.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/perms.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			var permsTree = Vue.component("ptree", {
				props: ["list"],
				template: `
					<ul style="margin-left:20px" class="nav nav-pills nav-stacked">
						<li class="" v-for='item in list'>
							<a v-if="item.path">{{item.name}}</a>
							<a v-else>{{item.name}}</a>
							<ptree :list = "item.childrens"></ptree>
						</li>
					</ul>
				`,
				methods: {
					
				}
			});
			var vm = new Vue({
				el: "#ctx",
				data() {
					return {
						perms: []
					}
				},
				methods: {

				},
				created: function() {
					var that = this;
					$.ajax({
						url: top.data.ip + "perms/find",
						type: "get",
						xhrFields: {
							withCredentials: true
						},
						dataType: "json",
						success: function(response) {
							that.perms = response;
						},
						error: function(error) {

						}
					});
				}
			});
		</script>
	</body>
</html>
